.tile {
    width: 100px;
    height: 100px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #ccc;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e0e0e0;
}


.make-move-button {
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.5s ease;

    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.control-button {
    width: 145px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.solve-button {
    width: 130px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

#button-container {
    position: absolute; /* Absolute positioning */
    top: 100px; /* Positioned at the bottom */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Offset by half its width to center align */
    width: auto; /* Let it take the width according to its content */
    z-index: 10; /* Ensure it's above other elements */
    display: grid;
    grid-template-columns: repeat(3, auto); /* Creates a 3-column layout */
    grid-template-rows: repeat(5, auto); /* Creates a 3-row layout */
    justify-items: center; /* Centers the grid horizontally */
    justify-content: center; /* Centers the grid horizontally */
    align-items: center; /* Centers the grid vertically */
    gap: 5px; /* Spacing between buttons */
    padding: 10px; /* Padding around the container */
}

/* Styling for all buttons */
.make-move-button, .solve-button, .control-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

/* Positioning individual buttons in the grid */
#new-game-button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#move-up {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#move-left {
    grid-row: 3/4;
    grid-column: 1/2;
}

#move-right {
    grid-row: 3/4;
    grid-column: 3;
}

#move-down {
    grid-row: 4/5;
    grid-column: 2 / 3;
}

#both-solve-button {
    grid-row: 5/6;
    grid-column: 2 / 3;
}

#greedy-solve-button {
    grid-row: 5/6;
    grid-column: 1 / 2;
}

#IDA-solve-button {
    grid-row: 5/6;
    grid-column: 3 / 4;
}

/* Additional style adjustments if needed */
.make-move-button {
    width: 70px;
    height: 70px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message-text {
  width: 10%;
  max-width: 150px;
  min-height: 20px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #6bd2fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

#game-board {
    display: none;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.messages {
    margin-bottom: 20px;
}
.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 15px;
}
.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 15px;
}

