{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sliding Tile Puzzle</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body data-rows="{{ rows }}" data-cols="{{ cols }}">
    <form action="{% url 'landing' %}" method="get">
        <button type="submit" id="back-button" class="back-button">Back</button>
    </form>
    
    <div id="game-board"></div>
    
    <div id="button-container">
        <div></div>
        <button id="move-up" class="make-move-button" data-direction="1">Up</button>
        <div></div>
        
        <button id="new-game-button" class="control-button">New Game</button>
        <button id="move-left" class="make-move-button" data-direction="3">Left</button>
        <button id="move-right" class="make-move-button" data-direction="2">Right</button>
        <button id="auto-solve-button" class="control-button">Auto-solve</button>

        <div></div>
        <button id="move-down" class="make-move-button" data-direction="0">Down</button>
        <div></div>
        
        <button id="solve-idaStar*" class="solve-button" >Solve IDA*</button>

    </div>
    
    <div id="message-text" style="display: none;"> </div>

</body>
</html>
