{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sliding Tile Puzzle</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        #main-container {
            display: flex;
            justify-content: space-between;
        }
        #game-container {
            width: 50%;
        }
        #tree-container {
            width: 50%;
            height: 800px;
            overflow: scroll;
        }
    </style>
</head>

<body data-rows="{{ rows }}" data-cols="{{ cols }}">
    <form action="{% url 'landing' %}" method="get">
        <button type="submit" id="back-button" class="back-button">Back</button>
    </form>

    <div id="main-container">
        <div id="left-tree-container" class="tree-container">
            <h2>Greedy Solve</h2>
            <div>
                <span>Time taken: </span>
                <span id="greedyTimeTaken"></span>
            </div>
            <div>
                <span>Number of moves: </span>
                <span id="greedyNumMoves"></span>
            </div>
            <div id="left-tree-svg-container">
                <!-- The SVG canvas for the left tree will be appended here by D3.js -->
            </div>
        </div>

        <div id="game-container" style="width: 50%;">
            <div id="game-board"></div>

            <div id="button-container">
                <div></div>
                <button id="move-up" class="make-move-button" data-direction="-1,0">Up</button>
                <div></div>
                <button id="new-game-button" class="control-button">New Game</button>
                <button id="both-solve-button" class="solve-button">Solve both</button>
                <button id="greedy-solve-button" class="solve-button" >Greedy-Solve*</button>
                <button id="move-left" class="make-move-button" data-direction="0,-1">Left</button>
                <button id="move-right" class="make-move-button" data-direction="0,1">Right</button>
                <button id="IDA-solve-button" class="solve-button">IDA-solve</button>

                <div></div>
                <button id="move-down" class="make-move-button" data-direction="1,0">Down</button>
                <div></div>
            </div>
        </div>
        <div id="right-tree-container" class="tree-container">
            <h2>IDA* Solve</h2>
            <div>
                <span>Time taken: </span>
                <span id="idaTimeTaken"></span>
            </div>
            <div>
                <span>Number of moves: </span>
                <span id="idaNumMoves"></span>
            </div>
            <div id="right-tree-svg-container">
                <!-- The SVG canvas for the right tree will be appended here by D3.js -->
            </div>
        </div>
    </div>
</body>
</html>