.tile {
    width: 100px;
    height: 100px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #ccc;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e0e0e0;
}


.make-move-button {
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

#button-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#move-up {
    grid-row: 1;
    grid-column: 5;
}

#move-down {
    grid-row: 3;
    grid-column: 5;
}

#new-game-button {
    grid-row: 2;
    grid-column: 1;
}

#move-left {
    grid-row: 2;
    grid-column: 4;
}

#move-right {
    grid-row: 2;
    grid-column: 6;
}

#auto-solve-button {
    grid-row: 2;
    grid-column: 9;
}

#message-text {
  width: 10%;
  max-width: 150px;
  min-height: 20px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #6bd2fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

#game-board {
    display: none;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.messages {
    margin-bottom: 20px;
}
.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 15px;
}
.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 15px;
}

